@font-face {
  font-family: "RiftDemiItalic";
  src: url("./fonts/Fort Foundry - Rift Demi Italic.otf");
}
@font-face {
  font-family: "RiftMediumItalic";
  src: url("./fonts/Fort Foundry - Rift Medium Italic.otf");
}
@font-face {
  font-family: "RiftDemi";
  src: url("./fonts/Fort Foundry - Rift-Demi.otf");
}
@font-face {
  font-family: "RiftMedium";
  src: url("./fonts/Fort Foundry - Rift-Medium.otf");
}
@font-face {
  font-family: "RiftBoldItalic";
  src: url("./fonts/Rift Bold Italic.otf");
}
@font-face {
  font-family: "RiftBold";
  src: url("./fonts/Rift-Bold.otf");
}
@font-face {
  font-family: "RiftRegular";
  src: url("./fonts/Fort Foundry - Rift-Regular.otf");
}
@font-face {
  font-family: "MontserratBlack";
  src: url("./fonts/Montserrat-Black.ttf");
}
@font-face {
  font-family: "MontserratBold";
  src: url("./fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "MontserratBoldItalic";
  src: url("./fonts/Montserrat-BoldItalic.ttf");
}
@font-face {
  font-family: "MontserratSemiBold";
  src: url("./fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "MontserratItalic";
  src: url("./fonts/Montserrat-Italic.ttf");
}
@font-face {
  font-family: "MontserratLight";
  src: url("./fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "MontserratLightItalic";
  src: url("./fonts/Montserrat-LightItalic.ttf");
}
@font-face {
  font-family: "MontserratMedium";
  src: url("./fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "MontserratMediumItalic";
  src: url("./fonts/Montserrat-MediumItalic.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf");
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat' !important;
  line-height: 1.5;
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none !important;
}
a:hover{
  text-decoration: unset !important;
}
img {
  width: 100%;
}
input,
textarea,
select,
button {
  font-family: 'Montserrat';
}
h1 {
  font-size: 55px;
  line-height: 1;
  color: #fff;
  margin: 0;
}
h2 {
  text-align: center;
  font-size: 50px;
  font-family: "RiftBold";
  line-height: 1.2;
}
h3 {
  font-size: 30px;
  line-height: 1.2;
}
.clearfix {
  display: block;
  clear: both;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.p-30 {
  padding: 30px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-30 {
  padding-left: 30px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-30 {
  padding-right: 30px;
}
.pt-15 {
  padding-top: 15px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pt-30 {
  padding-top: 30px;
}
.pt-60 {
  padding-top: 60px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-60 {
  padding-bottom: 60px;
}
.section-space {
  padding: 60px 0;
}
.pt-120 {
  padding-top: 120px;
}
.pb-120 {
  padding-bottom: 120px;
}
.wrapper-space {
  padding: 120px 0;
}
.mt-0 {
  margin-top: 0;
}
.mt-15 {
  margin-top: 15px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-30 {
  margin-right: 30px;
}
.mr-5 {
  margin-right: 5px;
}
.mr-0 {
  margin-right: 0;
}
.ml-0 {
  margin-left: 0;
}
.ml-30 {
  margin-left: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.position-relative {
  position: relative;
}
.RiftBold {
  font-family: "RiftBold";
}
.semibold {
  font-family: "MontserratSemiBold"; 
}
.bebas {
  font-family: "Bebas";
}
.RiftDemiItalic {
  font-family: "RiftDemiItalic";
}
.RiftMediumItalic {
  font-family: "RiftMediumItalic";
}
.RiftDemi {
  font-family: "RiftDemi";
}
.RiftMedium {
  font-family: "RiftMedium";
}
.RiftRegular {
  font-family: "RiftRegular";
}
.light {
  font-family: "MontserratLight";
}
.bold {
  font-family: "MontserratBold";
}
.bolditalic {
  font-family: "MontserratBoldItalic";
}
.medium {
  font-family: "MontserratMedium";
}
.mediumitalic {
  font-family: "MontserratMediumItalic";
}
.SemiBoldItalic {
  font-family: "MontserratSemiBoldItalic"; 
}
.italic {
  font-style: italic;
}
.uppercase {
  text-transform: uppercase;
}
.red {
  color: #8d2b2b;
}
.white {
  color: #fff;
}
.black {
  color: #000;
}
.grey {
  color: #3f3f3f;
}
.lightgrey {
  color: #939393;
}
.title {
  font-size: 24px;
  line-height: 1.2;
  font-family: "RiftBold";
  margin: 0;
}
.description {
  font-size: 20px;
  line-height: 1.7;
}
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.flex-direction-column {
  flex-direction: column;
}
.desktop-only {
  display: block;
}
.mobile-only {
  display: none;
}
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #000;
}
.bg-red {
  background-color: #7c090c;
}
.bg-grey {
  background-color: #eeeeee;
}
.bg-lightgrey {
  background-color: #f7f7f7;
}
.bg-darkgrey {
  background-color: #e6e6e6;
}
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.flex-column {
  flex-direction: column!important;
}
.h-100 {
  height: 100%;
}
.wrapper-1,
.wrapper-2,
.wrapper-3,
.wrapper-4,
.wrapper-5,
.wrapper-6,
.wrapper-7,
.wrapper-8,
.wrapper-9,
.wrapper-10,
.wrapper-11,
.wrapper-12,
.wrapper-13,
.wrapper-15,
.wrapper-17,
.wrapper-18,
.wrapper-19,
.upsell-header {
  position: relative;
}
.bg_wrapper1,
.bg_wrapper4,
.bg_wrapper5,
.bg_wrapper7,
.bg_wrapper8,
.bg_wrapper9,
.bg_wrapper10,
.bg_wrapper12,
.bg_wrapper13,
.bg_wrapper17,
.bg_wrapper18,
.bg_wrapper19,
.actor_3,
.bg_red,
.upsell_header,
.upsell_main {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.upsell-header {
  padding-bottom: 60px;
}
.logo {
  position: relative;
  margin: 15px 0;
  width: fit-content;
  z-index: 1;
}
.nav-wrapper {
  justify-content: flex-end;
}
.nav-wrapper a {
  opacity: 0.8;
  font-size: 16px;
  color: #fff;
  padding: 15px;
  cursor: pointer;
}
.nav-wrapper a:hover {
  opacity: 1;
}
.gradiant {
  width: 80%;
}
.wrapper-1 .container {
  min-height: 800px;
  justify-content: flex-end;
}
.actor_1 {
  position: absolute;
  bottom: 0;
  left: -15%;
  z-index: -1;
}
.actor_2 {
  position: absolute;
  z-index: 0;
  width: fit-content;
  height: 100%;
  right: 0;
  z-index: 0;
}
.information_pane {
  background-color: #170000d4;
  padding: 30px;
}
.top_pane {
  border-bottom: 1px solid #cfcfcf;
}
.top_pane .d-flex {
  width: 33.33%;
}
.top_pane img {
  width: 270px;
  height: fit-content;
  margin: 0 auto;
}
.grid_pane {
  display: flex;
  align-items: center;
}
.check {
  width: fit-content;
  height: fit-content;
  margin-right: 15px;
}
.grid_des {
  font-size: 20px;
  margin: 10px 0;
  font-family: "RiftDemi";
}
.cta_btn {
  width: 80%;
  background-color: #e10000;
  font-size: 25px;
  padding: 15px;
  color: #fff;
  font-family: "RiftBold";
  border-radius: 5px;
  outline: none;
  border: none;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.wrapper-5,
.wrapper-17 {
  min-height: 550px;
}
.bottle {
  position: absolute;
  width: fit-content;
  max-width: 650px;
  right: 0;
  z-index: -1;
}
.item {
  width: 130px;
  height: 130px;
  margin: 0 auto;
}
.item.last {
  width: 167px;
}
.wrapper-8 .RiftDemi {
  width: fit-content;
  color: #fff;
  background: #a10000;
  padding: 5px 15px;
  margin: 0 auto;
}
.actor_3 {
  width: fit-content;
  right: 0;
  left: unset;
  top: 15px;
}
.medal {
  width: 132px;
  height: 132px;
}
.image_part {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.description_part {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
.testimonial_pane {
  flex: 0 0 40%;
  position: relative;
  background-color: #d94141;
  border-radius: 5px;
  padding: 100px 30px 30px;
  margin: 60px 15px;
}
.testimonial_pane .description {
  font-size: 16px;
  min-height: 168px;
}
.testimonial_pane .second {
  min-height: 120px;
}
.testimonial_actor {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: -85px;
}
.stars {
  width: 160px;
}
.wrapper-12 h2,
.wrapper-13 h2,
.wrapper-14 h2,
.wrapper-17 h2 {
  font-size: 60px;
}
/******* Start: effect_pane *******/
.effect_pane {
  position: relative;
  width: 220px;
  margin: 5px;
}
.parallelogram {
  transform: skew(-22deg);
}
.actor {
  position: absolute;
  width: 440px;
  margin-left: -50px;
  z-index: -1;
}
.actor_9 {
  width: 440px;
  margin-top: 120px;
}
.actor_10 {
  width: 525px;
  margin-left: -110px;
  margin-top: 60px;
}
.actor_11 {
  width: 532px;
  margin-left: -100px;
}
.actor_12 {
  width: 532px;
  margin-left: -90px;
  margin-top: -60px;
}
.effect_title {
  position: relative;
  font-size: 40px;
  font-family: 'RiftBoldItalic';
  padding: 0 15px;
  margin-top: 300px;
}
.effect_sub_title {
  position: relative;
  font-size: 20px;
  font-family: 'RiftBoldItalic';
  padding: 0 15px;
}
.effect_des {
  line-height: 1.5;
  padding: 0 12px;
}
.step1 {
  margin: 15px 0px;
}
.step2 {
  margin: 10px;
}
.step3 {
 margin: 10px; 
}
.step4 {
  margin: 15px;
}
/******* End: effect_pane *******/
.item_pane {
  padding: 2rem;
  max-width: 830px;
  background-color: #363636;
  border-radius: 5px;
  color: #fff;
  margin: 30px auto;
}
.item_pane img {
  width: fit-content;
}
.intro_pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-14 .description,
.wrapper-15 .description,
.wrapper-16 .description {
  color: #fff;
  background-color: #000;
  padding: 5px 30px;
  margin: 30px auto;
  line-height: 1.5;
  width: fit-content;
  text-transform: uppercase;
}
.wrapper-14 .image_part img,
.wrapper-15 .image_part img {
  width: 240px;
}
.wrapper-14 .description_part,
.wrapper-15 .description_part {
  margin-left: 0;
}
.title-2 {
  font-size: 20px;
}
.des-2 {
  width: 300px;
}
.wrapper-16 img {
  width: 200px;
}
.bottle_2 {
  position: absolute;
  width: fit-content;
  max-width: 650px;
  height: 670px;
  z-index: 4;
  left: 0;
  top: -40px;
}
.darkred {
  color: #c30000;
}
.wrapper-17 .container {
  height: 100%;
}
.guarantee {
  width: fit-content;
}
.cta_btn2 {
  background-color: #00a651;
  font-size: 50px;
  padding: 10px 120px;
  color: #fff;
  font-family: "RiftBold";
  border-radius: 5px;
  outline: none;
  border: none;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.wrapper-19 {
  margin-top: -60px;
}
.bg_wrapper18 {
  height: 140%;
}
.bg_wrapper19 {
  z-index: -2;
}
/******* Start: topbar *******/
.header-topbar {
  cursor: pointer;
  display: none;
}
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-8px, 7px) ;
  transform: rotate(-45deg) translate(-8px, 7px) ;
}
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
/******* End: topbar *******/
footer {
  position: relative;
  z-index: 2;
}
footer .description {
  opacity: 0.6;
}
.footer-middle {
  border-bottom: 1px solid #717171;
  margin-bottom: 15px;
}
.footer-nav a {
  color: #717171;
  padding: 15px 30px;
  font-size: 12px;
  cursor: pointer;
}
.footer-nav a:first-child {
  padding-left: 0;
}
.footer-bottom p {
  color: #717171;
}
.credit_card {
  width: fit-content;
  height: fit-content;
}
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.form-control.is-invalid, .was-validated .form-control:invalid {
  border-color: #dc3545;
  padding-right: calc(1.5em + .75rem);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right calc(.375em + .1875rem) center;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.form-group.has-error .help-block.with-errors {
  position: absolute;
  color: #ff6161;
  font-size: 14px;
  font-style: italic;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}
.page-wrapper {
  padding: 30px 0;
}

body.upsell .intro-section {
  padding: 30px 0 0 0;
}

body.upsell .intro-section .content {
  padding-bottom: 50px;
  border-bottom: 1px solid #000;
}

body.upsell .intro-section .content h1 {
  color: #1282c1;
  font-size: 56px;
  margin-bottom: 10px;
}

body.upsell .intro-section .content h3 {
  color: #2e2e2e;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 15px;
  line-height: 1.2;
}

body.upsell .intro-section .content h4 {
  font-weight: 400;
  color: #2e2e2e;
  font-size: 27px;
  margin-bottom: 15px;
  line-height: 1.2;
}

body.upsell .intro-section .content h2 {
  font-size: 58px;
  color: #2e2e2e;
  margin-bottom: 15px;
  font-weight: normal;
}

body.upsell .intro-section .content h5 {
  color: #fff;
  background: #000;
  padding: 7px 10px;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 28px;
  max-width: 50%;
  margin: 0 auto;
}

body.upsell .form-section {
  padding: 50px 0 30px 0;
}

body.upsell .form-section .left .image {
  margin-bottom: 20px;
}

body.upsell .form-section .left h5 {
  font-weight: normal;
  margin-bottom: 10px;
  font-size: 27px;
}

body.upsell .form-section .left h4 {
  font-weight: normal;
  color: #f00;
  font-size: 31px;
}

body.upsell .form-section .left h3 {
  font-weight: normal;
  color: #f00;
  font-size: 51px;
}

body.upsell .form-section .right h2 {
  font-size: 30px;
  font-weight: normal;
}

body.upsell .form-section .content, body.upsell .form-section #upsellForm {
  max-width: 100%;
  margin: 0 auto;
  font-size: 24.5px;
  color: #272727;
  font-family: "Montserrat";
  line-height: 1.3;
}

body.upsell .form-section .form-check {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin-top: 20px;
}

body.upsell .form-section .form-check input[type=checkbox] {
  position: absolute;
  left: -9999px;
}

body.upsell .form-section .form-check label {
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  padding-left: 30px;
  text-align: left;
  font-size: 15px;
}

body.upsell .form-section .form-check label a {
  color: #329ca3;
}

body.upsell .form-section .form-check label .custom-check {
  width: 18px;
  height: 18px;
  position: absolute;
  border: 1px solid #329ca3;
  border-radius: 3px;
  background: transparent;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

body.upsell .form-section .form-check label span {
  display: block;
}

body.upsell .form-section .form-check input[type=checkbox]:checked + label .custom-check:before {
  content: '';
  width: 9px;
  height: 9px;
  position: absolute;
  background: #329ca3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body.upsell .form-section .form-group {
  position: relative;
  margin-bottom: 30px;
}

body.upsell .form-section .form-group.has-error .help-block.with-errors {
  position: absolute;
  color: #ff6161;
  bottom: -21px;
  font-style: italic;
  font-size: 14px;
}

body.upsell .form-section .form-group.has-error .help-block.with-errors ul {
  margin: 0;
}

body.upsell .form-section .pmx-button {
  font-size: 21px;
  padding: 10px 40px;
  width: 60%;
  text-align: center;
  background-color: #329ca3;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-family: "Montserrat";
}

body.upsell .form-section .no-thanks {
  color: #000;
  background: #ececec;
  padding: 10px 50px;
  border-radius: 8px;
  font-weight: 400;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 50px;
  font-family: "MontserratLight";
}

body.upsell .form-section .no-thanks:hover {
  background: #a9a9a9;
}

body.upsell .ajax-loader {
  position: fixed;
  top: 0;
  left: 0;
  background: #000000d1;
  width: 100%;
  height: 100%;
  z-index: 1;
}

body.upsell .ajax-loader h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
}

body.upsell .ajax-loader p {
  margin: 10px 0 0 0;
  font-size: 28px;
  color: #fff;
}

body.upsell #upsellModal .modal-content {
  border: 0;
  border-radius: 0;
}

body.upsell #upsellModal .modal-content #upsellModalBody {
  text-align: center;
  position: relative;
}

body.upsell #upsellModal .modal-content #upsellModalBody .btn-close {
  position: absolute;
  right: 15px;
  top: 15px;
}

body.upsell #upsellModal .modal-content #upsellModalBody h3 {
  text-transform: capitalize;
}

body.upsell #upsellModal .modal-content #upsellModalBody img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: block;
}

body.upsell #upsellModal .modal-content #upsellModalBody p {
  font-size: 19px;
}

body.upsell #upsellModal .modal-content #upsellModalBody.success h3 {
  color: #09b96c;
}

body.upsell #upsellModal .modal-content #upsellModalBody.error h3 {
  color: #d01b2c;
}

body.thankyou .main-section h1 {
  font-size: 50px;
}

body.thankyou .main-section h2 {
  font-weight: normal;
  font-size: 40px;
}

.upsell_disclaim {
  color: #aaaaaa;
  border-top: 1px solid #aaaaaa;
}

.upsell .page-wrapper,
.thankyou .page-wrapper {
  padding: 0;
}

.upsell .title,
.thankyou .title {
  font-family: "RiftDemiItalic";
  text-align: right;
  padding: 15px 0;
}

.upsell-main span a {
  font-size: 21px;
  font-family: "RiftRegular";
  color: #fff;
  padding-right: 20px;
}

.upsell-main span a.last {
  padding-right: 0;
}

#home_page_body .page-wrapper {
  padding: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .flex-lg-row {
    flex-direction: row !important;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1240px;
  }
  .flex-xl-column {
    flex-direction: column !important;
  }
}
@media (max-width: 991px) {
  .container {
    width: unset;
  }
  .desktop-only {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  .wrapper-space {
    padding: 60px 0;
  }
  .section-space {
    padding: 30px 0;
  }
  .pt-120 {
    padding-top: 60px;
  }
  .pb-120 {
    padding-bottom: 60px;
  }
  .pt-60 {
    padding-top: 30px;
  }
  .pb-60 {
    padding-bottom: 30px;
  }
  .pt-30 {
    padding-top: 15px;
  }
  .pb-30 {
    padding-bottom: 15px;
  }
  .col-5 {
    max-width: 100%;
  }
  .col-6 {
    max-width: 100%;
  }
  .col-7 {
    max-width: 100%;
  }
  .hidden {
    display: none;
  }
  h1 {
    font-size: 27px;
    text-align: center;
  }
  body.upsell .intro-section .content h1 {
    font-size: 40px;
  }
  body.upsell .intro-section .content h2,
  body.upsell .form-section .left h3 {
    font-size: 30px;
  }
  h2,
  .wrapper-12 h2,
  .wrapper-13 h2, 
  .wrapper-14 h2, 
  .wrapper-17 h2 {
    font-size: 33px;
  }
  h3,
  body.upsell .intro-section .content h3,
  body.upsell .intro-section .content h5,
  body.upsell .form-section .left h4,
  body.upsell .form-section .left h5 {
    font-size: 20px;
  }
  body.upsell .intro-section .content h5,
  body.upsell .form-section .pmx-button {
    max-width: 100%;
    width: 100%;
  }
  body.upsell .form-section .no-thanks,
  .upsell .footer span {
    font-size: 16px;
  }
  h3 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
  }
  header .container {
    flex-direction: column;
  }
  .upsell .footer-bottom .img-fluid {
    padding-top: 15px;
    width: 80%;
    display: flex;
    margin: 0 auto;
  }
  .upsell .footer span {
    padding-right: 0;
  }
  .upsell .logo {
    width: 80%;
    margin-bottom: 30px;
    margin: 15px auto;
    display: flex;
  }
  .upsell-main .container,
  .upsell-main .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .upsell-main span a {
    padding-right: 0;
    padding-bottom: 5px;
  }
  .upsell .title {
    text-align: center;
  }
  .header-main {
    width: 100%;
  }
  .header-topbar {
    display: block;
  }
  .top_pane,
  .nav-wrapper,
  .wrapper-11 .container .d-flex {
    flex-direction: column;
  }
  .wrapper-4 .container,
  .wrapper-9 .container {
    flex-direction: column-reverse;
  }
  .top_pane .d-flex {
    width: 100%;
  }
  .wrapper-1 .container {
    min-height: 340px;
    align-items: flex-end;
  }
  .wrapper-2 {
    background-color: #fff;
  }
  .actor_1 {
    width: 100%;
    top: 5px;
    left: 0;
  }
  .wrapper-3 .container {
    flex-direction: column-reverse;
  }
  .actor_2 {
    position: relative;
    width: 100%;
    top: 5px;
    left: 0;
  }
  .information_pane {
    padding: 15px;
    margin-right: 0;
    margin-bottom: -30px;
    position: relative;
    z-index: 2;
  }
  .information_pane p {
    font-size: 7.7px;
    text-align: center;
  }
  .wrapper-3 p {
    text-align: center;
  }
  .wrapper-4 .col-7 img {
    margin-top: -60px;
  }
  .wrapper-3 h2.text-left,
  .wrapper-9 h2.text-left {
    text-align: center;
  }
  .cta_btn {
    width: 100%;
  }
  .bottle {
    width: 100%;
    left: 0;
    max-width: unset;
  }
  .wrapper-6 {
    background-color: transparent;
    margin-top: -120px;
  }
  .wrapper-7 .d-flex {
    display: block;
    text-align: center;
  }
  .wrapper-7 .d-flex .d-flex {
    width: 50%;
    float: left;
  }
  .wrapper-7 .d-flex .d-flex.last {
    float: unset;
    margin: 0 auto;
  }
  .wrapper-7 p {
    min-height: 68px;
  }
  .wrapper-9 .col-7 {
    padding: 15px;
    text-align: center;
    margin-top: -50%;
  }
  .actor_3 {
    position: relative;
    width: 100%;
  }
  .medal_pane {
    flex-direction: column;
  }
  .description_part {
    text-align: center;
  }
  .medal {
    margin-bottom: 15px;
  }
  .testimonial_pane {
    flex: 0 0 100%;
    margin: 60px -15px;
    border-radius: 0;
  }
  .testimonial_pane.last {
    margin-bottom: 0;
  }
  .testimonial_pane .description {
    font-size: 15px;
    line-height: 1.3;
  }
  .wrapper-12 h2,
  .wrapper-12 .bold {
    text-align: center;
  }
  .effect_title {
    font-size: 30px;
  }
  .effect_sub_title {
    font-size: 16px;
  }
  .effect_des {
    font-size: 10px;
  }
  .effect-section {
    flex-direction: column; 
  }
  .effect_pane {
    width: 175px;
    margin-left: 35px;
  }
  .actor_9 {
    margin-top: 0px;
    width: 375px;
    margin-left: -67px;
  }
  .actor_10 {
    width: 390px;
    margin-top: -100px;
    margin-left: -87px;
  }
  .effect_title {
    margin-top: 170px;
  }
  .step2 {
    margin-left: 40px;
  }
  .step2 .effect_title {
    margin-top: 90px;
  }
  .actor_11 {
    width: 410px;
    margin-top: -100px;
    margin-left: -111px;
  }
  .step3 .effect_title {
    margin-top: 90px;
  }
  .actor_12 {
    width: 400px;
    margin-top: -100px;
    margin-left: -77px;
  }
  .step4 {
    margin-left: 20px;
  }
  .intro_pane .description {
    font-size: 14px;
  }
  .item_pane img {
    width: 120px;
  }
  .wrapper-14 .d-flex,
  .wrapper-15 .d-flex,
  .wrapper-16 .d-flex {
    flex-direction: column;
  }
  .wrapper-14 .image_part,
  .wrapper-15 .image_part {
    margin: 0 0 30px;
  }
  .wrapper-14 .image_part img,
  .wrapper-15 .image_part img {
    width: 345px;
  }
  .wrapper-14 .description_part,
  .wrapper-15 .description_part {
    text-align: left;
  }
  .title-2 {
    font-size: 15px;
  }
  .bottle_2 {
    position: relative;
    width: 100%;
    height: unset;
    top: unset;
  }
  .wrapper-17 {
    min-height: unset;
    text-align: center;
  }
  .wrapper-17 .container {
    flex-direction: column-reverse;
  }
  .wrapper-18 .container,
  .wrapper-19 .container  {
    flex-direction: column;
  }
  .wrapper-17 h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  .guarantee {
    width: 80%;
  }
  .grid_des {
    font-size: 16px;
    margin: 10px 0;
  }
  .bg_wrapper18 {
    height: 160%;
  }
  .cta_btn2 {
    font-size: 40px;
    padding: 10px 60px;
  }
  .description {
    font-size: 16px;
  }
  .footer-top,
  .footer-nav {
    flex-direction: column;
  }
  .footer-top img {
    margin-bottom: 30px;
  }
  .footer-top .nav-wrapper a {
    padding: 10px;
  }
  .footer-nav a {
    padding: 10px;
  }
  .footer-nav a:first-child {
    padding-left: 10px;
  }
  .footer-middle {
    padding-bottom: 30px;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: center;
  }
  .footer-bottom p {
    font-size: 11px;
    margin-bottom: 30px;
  }
  .credit_card {
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  br.mobile-only {
    display: block;
  }
  span.desktop-only {
    display: none;
  }
  .pb-60 {
    padding-bottom: 15px;
  }
  .pt-60 {
    padding-top: 30px;
  }
  .pt-30 {
    padding-top: 15px;
  }
  .pb-30 {
    padding-bottom: 15px;
  }  
}